@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px !important;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #181C20;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: #5C7487;
    border-radius: 4px;  
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c7487d0;  
}

/* Remove input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}